/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow-x: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 110%;
    max-width: 120vw;
    overflow: hidden;
    padding: 20px;
}
